<template>
    <div class="container">
        <b-table :data="users">
            <template slot-scope="props">
                <b-table-column field="id" label="ID:">
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column field="id" label="Vorname:">
                    {{ props.row.firstname }}
                </b-table-column>

                <b-table-column field="id" label="Nachname">
                    {{ props.row.lastname }}
                </b-table-column>

                <b-table-column field="id" label="Dienstverpflichtet:">
                    <div v-if="props.row.active === false">
                        Nein
                    </div>
                    <div v-if="props.row.active === true">
                        Ja
                    </div>
                </b-table-column>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon icon="emoticon-sad" size="is-large"> </b-icon>
                        </p>
                        <p>Es sind momentan keine Nutzer verfügbar.</p>
                    </div>
                </section>
            </template>
        </b-table>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import { User } from '@/models/user';
import { Week } from '@/models/week';
import moment from 'moment';

@Component({
    name: 'ClassList',
    components: {},
})
export default class ClassList extends Vue {
    @Getter('utils/users') private users: User[];
    private weeks: Week[] = [];
    private currentWeek: number;
    private timeTillNextWeek: any;
    private currentYear: any;
    private queuedUsers: User[] = [];

    private holidayWeeksNumber = [1, 6, 7, 15, 16, 28, 29, 30, 31, 32, 40, 41, 42, 52];

    private mounted() {
        // set the locale
        moment.locale('de-ch');

        // set some metadata for moment.js
        this.timeTillNextWeek = moment()
            .endOf('week')
            .fromNow();
        this.currentWeek = moment().week();
        this.currentYear = moment().year();
        this.queuedUsers = this.users.filter((user) => user.active === true);
        this.initWeeks();
    }

    private initWeeks() {
        for (let index = 1; index <= 52; index++) {
            const newWeek: Week = {} as Week;

            newWeek.id = index;

            let unformattedDate = moment()
                .year(this.currentYear)
                .week(index)
                .startOf('week');
            newWeek.startdate = moment(unformattedDate).format('dd, Do MMMM YYYY');

            unformattedDate = moment()
                .year(this.currentYear)
                .week(index)
                .endOf('week');
            newWeek.enddate = moment(unformattedDate).format('dd, Do MMMM YYYY');

            if (this.holidayWeeksNumber.includes(index)) {
                newWeek.vacation = true;
            } else {
                newWeek.vacation = false;
                const tempUser1 = this.queuedUsers.shift();
                const tempUser2 = this.queuedUsers.shift();

                if (tempUser1 && tempUser2) {
                    newWeek.user1 = '';
                    newWeek.user2 = '';

                    newWeek.user1 = tempUser1.firstname + ' ' + tempUser1.lastname;
                    newWeek.user2 = tempUser2.firstname + ' ' + tempUser2.lastname;

                    this.queuedUsers.push(tempUser1);
                    this.queuedUsers.push(tempUser2);
                }
            }

            this.weeks.push(newWeek);
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
